<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aetherloosh</title>
</head>
<body>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ url_for('static', filename='aether.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='blurry-load.css') }}">
<div class="container">
  <div class="row">
  <div id="1" class="card-columns">

  </div>
</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/blurry-load.js') }}"></script>
<script src="{{ url_for('static', filename='js/photo_scroller.js') }}"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.0.1/dist/lazyload.min.js"></script> -->
</body>
</html>